.combat-title {
	text-align : center;
}

.viewLog {
  text-align : center;
}

.act {
  text-align : center;
}

.action-form-title {
  text-align : center;
}

.menu {
    text-align : center;
}

.side-drawer {
  background-color : lightgray;
}

/* .from-control {
  float: right;
} */

td, th {
	text-align: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}