<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Encounter Occupants</title>
	</head>
	<body>
		<h1>Encounter Occupants</h1>
		<nobr>
			<a th:href="@{/}">Back to Main Landing Page</a>
			<br></br>
			<a th:href="@{/api/v1/pcForm}">Go to PC Form Page</a>
		</nobr>
		<br></br>
		<h2>Characters</h2>
		<div>
			<table border="1">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Level</th>
					<th>Perception</th>
					<th>Insight</th>
					<th>AC</th>
					<th>HP</th>
					<th>Initiative</th>
				</tr>
				<tr th:each="character : ${characters}">
					<td th:utext="${character.id}">...</td>
					<td th:utext="${character.name}">...</td>
					<td th:utext="${character.hp}">...</td>
				</tr>
			</table> 
		</div>
	</body>

</html>