<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Something Happened</title>
</head>
<body>
	<nobr>
			<a th:href="@{/}">Back to Main Landing Page</a>
			<br></br>
			<a th:href="@{/api/v1/encounterOccupants}">Go to Encounter Occupants Page</a>
	</nobr>
	<br></br>
	<h1>What happened?</h1>
	<br></br>
	<form action="addCharacter">
		<button type="button" onclick="alert('You pressed the button!')">Click me!</button>
		
		<label for="name">Name:</label><br>
		<input type="text" id="name" name="name"><br>
		
		<label for="hp">HP:</label><br>
		<input type="text" id="hp" name="hp"><br>
			
		<input type="submit"><br>
	</form>
</body>
</html>